/* Larvconomy CSS-file */
*
{
	font-family:        "Verdana";
	font-size:          12px;
	color:              #4c4b4b;
}

body
{
	margin:             0;
	padding:            0;
	border:             0;        /* This removes the border around the viewport in old versions of IE */
	width:              100%;
	background-color:   #d9dee5;
	min-width:          600px;    /* Minimum width of layout - remove line if not required */
	                              /* The min-width property does not work in old versions of Internet Explorer */
}

h1                              /* More styles for h1 can be found in the menu-section */
{
	font-weight:        normal;
}

h2
{
	padding-top:        25px;
	clear:              both;
}

input, textarea
{
	margin:             0 0 2px 0;
	border:             1px solid #d4d4d4;
	color:              #4c4b4b;
}

input
{
	height:             20px;
}

	input.button
	{
		padding:            2px 15px 2px 15px;
		height:             23px;
		line-height:        18px;
		font-weight:        bold;
		color:              #4c4b4b;
		border:             1px solid #d4d4d4;
		background-color:   #ddd;
		filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#dddddd');
		background:         -moz-linear-gradient(top,  #fafafa,  #dddddd);
		background:         -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dddddd));
	}

	input.error, textarea.error
	{
		background-color:   #ffe9e9;
	}

#logo
{
  position:             absolute;
	margin:               20px 0 0 40px;
	font-size:            50px;
	font-family:          'Cuprum', arial, serif;
	color:                #fff;
}

.error
{
	font-weight:        bold;
	color:              #f00;
}



/* ######### loginbox - START #########  */

div#loginboxcontainer
{
	clear: both;
	border: 1px solid #d9dee5; /* No fucking idea why we need this */
}

div#loginbox
{
	width:              280px;
	margin-left:        auto;
	margin-right:       auto;
	background-color:   #fff;
	display:            block;
	margin-top:         20px;
	border:             1px solid #d4d4d4;
}

	div#loginbox h1
	{
		margin:							0;
		padding:            0px 10px 0px 10px;
		font-size:          18px;
		line-height:        22px;
		background-color:   #ddd;
		filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#dddddd');
		background:         -moz-linear-gradient(top,  #fafafa,  #dddddd);
		background:         -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dddddd));
		height:             22px;
		border-bottom:      1px solid #d4d4d4;
	}

	div#loginbox table
	{
		margin:               10px 10px 10px auto;
	}

		div#loginbox table td
		{
			text-align:           right;
		}



/* ######### loginbox - END #########  */


/* ######### header - START #########  */

#header
{
	clear:              both;
	float:              left;
	width:              100%;
	height:             103px;
	background-color:   #3b94b9;
	filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b94b9', endColorstr='#155a76');
	background:         -moz-linear-gradient(top,  #3b94b9,  #155a76);
	background:         -webkit-gradient(linear, left top, left bottom, from(#3b94b9), to(#155a76));
	border-bottom:      1px solid #0d3a4c;
}

	#header p.info
	{
		float:              right;
		padding:            75px 15px 0 0;
		color:              #3b94b9;
		white-space:        nowrap;
	}

		#header p.info span
		{
			font-weight:        bold;
			color:              #3b94b9;
		}

		#header p.info a
		{
			color:              #4bbceb;
		}

		#header p.info a:hover
		{
			color:              #fff;
		}

/* ######### header - END #########  */

/* ######### columns - START #########  */

.colsoutercontainer
{
	border-top:         1px solid #fafafa;
	position:           relative; /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	clear:              both;
	float:              left;
	width:              100%;     /* width of whole page */
	overflow:           hidden;   /* This chops off any overhanging divs */
}

.colscontainer
{
	float:              left;
	width:              200%;
	position:           relative;
	left:               200px;
}

.contentwrap
{
	float:              right;
	width:              50%;
	position:           relative;
	right:              200px;
	padding-bottom:     1em;
}

/* ######### columns - END #########  */


/* ######### content - START #########  */

.contentwrap2
{
	margin:             10px 15px 0 220px;
	position:           relative;
	right:              100%;
	overflow:           hidden;
	background-color:   #fff;
	border:             1px solid #d4d4d4;
}

	.contentwrap2 ul.tabs
	{
		margin:             0;
		padding:            0;
		display:            block;
		height:             22px;
		border-top:         1px solid #d4d4d4;
	}

		.contentwrap2 ul.tabs li
		{
			min-width:          60px;
			padding:           	0;
			list-style-type:    none;
			line-height:        20px;
			height:             20px;
			border-bottom:      1px solid #d4d4d4;
			border-right:       1px solid #d4d4d4;
			float:              left;
			text-align:         center;
		}

			.contentwrap2 ul.tabs li a
			{
				padding:           	0 5px 0 5px;
				text-decoration:    none;
				display:            block;
			}

			.contentwrap2 ul.tabs li a:hover, .contentwrap2 ul.tabs li a.selected
			{
				background-color:   #d7e8ef;
			}

				.contentwrap2 .content
				{
					clear:              both;
					margin:             15px;
					line-height:        20px;
					overflow:           auto;
				}

					.contentwrap2 .content form textarea
					{
						clear:              both;
						float:              left;
						width:              350px;
						margin-bottom:      1em;
					}

	.contentwrap2 a:hover
	{
		background-color:  #d7e8ef;
	}

	.contentwrap2 table
	{
		width:             100%;
		border-collapse:   collapse;
	}

		.contentwrap2 table tr.odd th, .contentwrap2 table tr.odd td
		{
			background-color:  #d7e8ef;
		}

		.contentwrap2 table th
		{
			font-weight:       bold;
			text-align:        left;
			border-bottom:     1px solid #d4d4d4;
		}

		.contentwrap2 table tfoot td
		{
			font-weight:       bold;
			text-align:        left;
			border-top:        1px solid #d4d4d4;
		}

		.contentwrap2 table .small_row
		{
			width:             60px;
		}

		.contentwrap2 table .medium_row
		{
			width:             100px;
		}

		.contentwrap2 table th.right, .contentwrap2 table td.right
		{
			text-align:        right;
			padding-right:     20px;
		}

	.contentwrap2 label
	{
		width:             350px;
		float:             left;
		clear:             left;
		margin-right:      5px;
	}

		.contentwrap2 label.content_types {}

			.contentwrap2 label.content_types input
			{
				width:             auto;
				margin-right:      5px;
			}

			.contentwrap2 label.content_types select
			{
				width:             auto;
			}

	.contentwrap2 span.instead_of_input
	{
		font-weight:       bold;
	}

	.contentwrap2 input, .contentwrap2 select, .contentwrap2 span.instead_of_input
	{
		float:             right;
		width:             150px;
	}

		.contentwrap2 input.button
		{
			width:             auto;
			margin-top:        20px;
		}

			.contentwrap2 input.add_field
			{
				float:             left;
				margin-bottom:     20px;
			}

	.contentwrap2 form p
	{
		clear:             both;
	}

	.contentwrap2 form p.error
	{
		clear:             right;
	}

	.contentwrap2 div.message
	{
		background-color:  #e9ffe9;
		border:            solid 1px #0f0;
		font-weight:       bold;
		margin-bottom:     10px;
		padding:           5px;
	}

	.contentwrap2 div.error
	{
		background-color:  #ffe9e9;
		border:            solid 1px #f00;
		font-weight:       bold;
		margin-bottom:     10px;
		padding:           5px;
	}


/* Site specific - wages */
form div.form_line
{
	width:               350px;
	float:               left;
	clear:               left;
	margin-right:        5px;
}

	form div.form_line span
	{
		float:               right;
		width:               150px;
		text-align:          right;
		font-weight:         bold;
	}
/* End of Site specific - wages */

/* ######### content - END #########  */


/* ######### menu - START #########  */

.menu
{
	float:              left;
	width:              200px;
	position:           relative;
	right:              190px;
}

	.menu div
	{
		width:              198px;
		background-color:   #fafafa;
		border:             1px solid #d4d4d4;
		margin-top:         10px;
		/*
		border-radius:      8px;
		-moz-border-radius: 8px;
		*/
	}

		.menu div p, div.contentwrap2 h1
		{
			margin:							0;
			padding:            0px 10px 0px 10px;
			height:             22px;
			font-size:          18px;
			line-height:        22px;
			background-color:   #ddd;
			filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#dddddd');
			background:         -moz-linear-gradient(top,  #fafafa,  #dddddd);
			background:         -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#dddddd));
		}

		.menu div ul
		{
			margin:             0;
			padding:            0;
		}

			.menu div ul li
			{
				list-style-type:    none;
				line-height:        20px;
				height:             20px;
			 	border-top:         1px solid #d4d4d4;
			}

			.menu div ul li a
			{
				display:            block;
				width:              auto;
				padding:            0px 10px 0px 10px;
				text-decoration:    none;
			}

				.menu div ul li a:hover, .menu div ul li a.selected
				{
					background-color:   #d7e8ef;
				}

/* ######### menu - END #########  */


/* ######### footer - START #########  */

#footer
{
	clear:            both;
	float:            left;
	width:            100%;
	text-align:       center;
}

/* ######### footer - END #########  */
